<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href="{% static 'styles/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'styles/main.css' %}" rel="stylesheet">
    <title>Question my site</title>
</head>
<body>

    <h5>Questão Nº {{ question.id }}</h5>

    <p> Text: {{ question.quest_text }} </p>
    <p> Date: {{ question.pub_date }} </p>
    <p> Status: {{ question.closed }} </p>

    <h5>Cloices da questão Nº {{ question.id }}</h5>

    {% if questions %}
        <table class="table">
            <thead>
                <th>Quest text</th>
                <th>Pub date</th>
                <th>Close</th>
            </thead>
            {% for choices in choices.item %}
                <tr>
                    <td>{{ choices.id }}</td>
                    <td>
                        <a href="{% url 'choice' choice.id %}">{{ choices.choice_text }}</a>
                    </td>
                    <td>{{ choices.question.question_text }}</td>
                </tr>
            {% endfor %}

        </table>
    {% endif %}

    <div>
        <a href="{% url 'manage' questions_id%}">Manage</a>
    </div>

</body>
</html>
